body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #bfd8d7;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    flex-wrap: wrap;
  }
  
  .logo {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .busca {
    flex-grow: 1;
    display: flex;
    max-width: 500px;
    margin: 10px;
  }
  
  .busca input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
  }
  
  .busca button {
    background-color: white;
    border: 2px solid #ccc;
    border-left: none;
    padding: 10px 15px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
  }
  
  .acoes {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    text-align: right;
  }
  
  .frete {
    font-weight: bold;
  }
  
  .conta a {
    color: #000;
    text-decoration: none;
    margin: 0 3px;
  }
  
  .carrinho i {
    font-size: 22px;
  }
  
  .menu-inferior {
    display: flex;
    justify-content: center;
    background-color: white;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    gap: 40px;
  }
  
  .menu-inferior a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }
  

/* menu categorias */

  .menu-inferior {
    display: flex;
    justify-content: center;
    background-color: white;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    gap: 40px;
    position: relative;
  }
  
  .menu-inferior a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    position: relative;
  }
  
  /* Dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 15px 30px;
    z-index: 999;
    min-width: 200px;
    white-space: nowrap;
  }
  
  .dropdown-content a {
    display: block;
    padding: 8px 0;
    color: #000;
    font-size: 16px;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    color: #1976d2;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn:focus,
  .dropdown:hover .dropbtn {
    color: #1976d2;
  }

