body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #bfd8d7;
  }
  
    header {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

    .busca {
    flex-grow: 1;
    display: flex;
    max-width: 500px;
    margin: 10px;
  }

    .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    flex-wrap: wrap;
  }