body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #c7e2e4;
  }
  
    header {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

    .busca {
    flex-grow: 1;
    display: flex;
    max-width: 500px;
    margin: 10px;
  }

    .topo {
    /*display: flex;*/    /*Se mexer nisso, o h1 não vai centralizar*/
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    flex-wrap: wrap;
    background-color: #ffffff;
  }

  .conteudo{
    background-color: #c7e2e4;
    padding-left: 500px;
    padding-right: 500px;
  }

    .conteudo1{
    background-color: #ffffff;
    padding: 30px 20px;
  }

  .center{
    text-align: center;
  }