body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #bfd8d7;
  }
  
.topo {
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    flex-wrap: wrap;
  }
  
  .corpo {
    width: 30%;
    background-color: #e6e1e1;
    text-align: center;
}

.corpo {

  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.profile-info input {
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    background-color: #eee;
}
